body {
  margin: 0;
  padding: 0;
}

.home {
  background-image: url("../images/main_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header {
  position: fixed;
  width: 100%;
  background: transparent;
  transition: background 0.3s ease;
  z-index: 1000;
  min-height: 75px;
}

#header.scrolled {
  background: #022d34;
}

.hidden {
  display: none;
}

.navmenu a {
  text-decoration: none;
  color: white;
  font-family: "Chelsea Market";
}

.header-content {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}

.navmenu {
  flex: 1;
}

.desk-navmenu {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.desk-navmenu div {
  margin-right: 4rem;
}

.desk-navmenu div:last-child {
  margin-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.button {
  border: 1px solid #96d2d0;
  color: #96d2d0;
  padding: 10px 30px;
  border-radius: 10px;
  font-family: "Roboto";
  cursor: pointer;
}

.button h4 {
  font-weight: 400;
  font-size: 18px;
}

main {
  padding: 72px 2rem 2rem;
}

.title {
  margin-top: 2rem;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.6);
  font-family: "Cinzel";
}

.container {
  max-width: 1600px;
  margin: auto;
}

.subtitle {
  color: white;
  font-family: "Chelsea Market";
  letter-spacing: 2px;
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.6);
  margin-top: 2rem;
  font-size: 15px;
}

.intro-section {
  width: auto;
  max-width: fit-content;
}

.button-solid {
  margin-top: 1rem;
  padding: 13px;
  border-radius: 10px;
  font-family: "Roboto";
  cursor: pointer;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 105, 1) 55%,
    rgba(0, 151, 255, 1) 100%
  );
}

.button-solid h4 {
  font-weight: 600;
  font-size: 20px;
}

.feature-icon img {
  width: 40px;
}

.feature-icon {
  max-width: fit-content;
  width: auto;
  border-radius: 50%;
  border: 3px solid white;
  padding: 10px 12px;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.feature .feature-title {
  color: white;
  font-family: "Roboto";
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 15px;
  margin-top: 1rem;
  letter-spacing: 1px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature .button-solid {
  margin-top: 1rem;
  background: #c4cacc;
  color: #022d34;
  padding: 7px 20px;
}

.feature .button-solid h4 {
  font-size: 15px;
}

.topics-section {
  margin-top: 2rem;
}

.topics-content {
  min-height: 200px;
  display: flex;
}

.topics-title {
  margin-top: 2rem;
  font-size: 30px;
  color: white;
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.6);
  font-family: "Cinzel";
}

.loading {
  width: fit-content;
  margin: auto;
}

.topic .image {
  height: 250px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.topic {
  position: relative;
  margin-right: 2rem;
  height: 250px;
  width: 200px;
  cursor: pointer;
  border-radius: 15px;
}

.topic-text {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
}

.topics {
  display: flex;
  transition: transform 1s ease-in-out;
}

.topics-container {
  overflow: hidden;
}
.topic-title {
  color: white;
  font-family: "Cinzel";
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 25px;
  margin-top: 1rem;
}

.topic-description {
  color: white;
  font-family: "Roboto";
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 15px;
  margin-top: 1rem;
  letter-spacing: 1px;
}

.topic:hover .topic-text {
  background: rgba(0, 0, 0, 0.8);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about-title {
  font-family: "Cinzel";
  font-size: 30px;
}

.about-subtitle {
  font-family: "Chelsea Market";
  font-size: 15px;
}

.about-subtitle span {
  font-size: 18px;
  font-style: italic;
}

.bar {
  display: flex;
  justify-content: space-around;
}

.bar-section {
  padding: 2rem;
  color: white;
}

.bar-section h2 {
  font-family: "Cinzel";
  font-size: 35px;
}

.bar-section h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 25px;
}

.icons-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  height: 10px;
  background: linear-gradient(45deg, rgba(5, 148, 234, 1) 17%, rgba(32, 61, 104, 1) 51%, rgba(5, 148, 234, 1) 80%);
}

.moto-section {
  background-image: url('../images/moto_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  position: relative;
}

.moto-section h3 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 4px 9px rgba(0, 0, 0, 0.6);
  font-family: "Cinzel";
  text-align: center;
  z-index: 3;
  max-width: 900px;
  margin: auto;
  font-weight: 700;
}

.moto-section .bg {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  min-height: 200px;
  left: 0;
  backdrop-filter: blur(4px);
}

p {
  margin: 0;
}

.icons-section a {
 font-size: 25px;
 margin-right: 1rem;
 color: #14333c;
}

.icons-section a:last-child {
  margin-right: 0;
}

.icons-section a:hover {
  color: rgba(5, 148, 234, 1);
}

a, a:hover {
  text-decoration: none;
}

.home-profile-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.home-profile-section i {
  color: white;
  font-size: 30px;
}

.home-profile-section h4 {
  font-family: "Roboto";
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin: 5px 10px 0 10px;
}

.post img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.post {
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
}

.post .date {
  color: #d9dadde7;
  font-size: 15px;
  font-family: "Roboto";
}

.post-description {
  font-size: 16px;
  font-family: 'Chelsea Market';
  color: #b9babe;
  font-weight: 300;
}

.flex-container {
  display: flex;
  align-items: center;
}

.post-text {
  padding: 1rem;
}

.justify-between {
  justify-content: space-between;
}

.post-title {
  font-size: 30px;
  font-family: "Cinzel";
  margin: 5px 0 1.5rem;
}

.post-h4 {
  font-size: 15px;
  font-family: 'Roboto';
  margin-left: 10px;
  margin-top: 5px;
}

.post i {
  font-size: 25px;
}

.post .bottom-section {
  margin-top: 10px;
  border-top: 1px solid #d9dadde7;
  color: #022d34;
}

.post .right-side i {
  font-size: 20px;
}

.post .right-side h4 {
  margin-left: 5px;
  margin-top: 7px;
}

.post .delete-button {
  background-color: #fee2e2;
  color: #ef4a4a;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.post .delete-button i {
  font-size: 15px;
}

.no-posts-text {
  text-align: center;
  font-size: 20px;
  font-family: "Roboto";
}